<section>
           <h2>Crie Sua Prória Sala</h2>
            <form action="/create-room" method="POST">
                   <label class="sr-only" for="room-id">Insira Uma Senha</label>
                    <input type="password" name="password" id="room-pass" placeholder="Insira Uma Senha">
                    <button>
                          <img src="/images/users-white.svg" alt="Entrar na sala">
                            Criar Sala
                            </button>
      </form>
</section>
                                                                                                                                        